<div class="section6">
    <div class="heading">
        <h2>Our Approach</h2>
        <p>We believe that every startup is unique, and success requires more than just capital. Our three-pronged approach ensures sustainable growth</p>
    </div>
 
    <div class="para">
       <div class="gnf">
            <img src = "assets/G&F.png"/>
            <div class="title">
                Strategic Growth & Funding
            </div>
            <div class="content">
                We connect startups with the right investors and help them build financial readiness.
            </div>
       </div>
       <div class="execution">
        <img src = "assets/exe.png"/>
        <div class="title">
            Hands-On Execution
        </div>
        <div class="content">
            We work alongside founders to navigate key challenges, from product development to go-to-market strategies.
        </div>
       </div>
       <div class="scaling">
        <img src = "assets/Scaling.png"/>
        <div class="title">
            Traction Building & Scaling
        </div>
        <div class="content">
            We help you achieve market validation, acquire customers, and scale your business efficiently.
        </div>
       </div>
</div>
</div>