<div class="section5">
    <h1>Discover. Invest. Scale.</h1>
    <p>Join a network of forward-thinking investors backing expertly built startups with real traction and scalable potential.</p>

    <div class="cards">
        <div class="card">
            <img src="assets/card1.png" alt="Investment" class="card-image">
            <div class="card-content">
              <h3>Why Invest With Us?</h3>
              <p>We collaborate closely with startups to ensure they are market-ready, scalable, and backed by a proven growth strategy.</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/card2.png" alt="Investment" class="card-image">
            <div class="card-content">
              <h3>Investment Model & Deal Flow</h3>
              <p>Our curated deal flow brings you early-stage and growth-stage opportunities and co-investment options. </p>
            </div>
        </div>
        <div class="card">
            <img src="assets/card3.png" alt="Investment" class="card-image">
            <div class="card-content">
              <h3>Join Our Investor Network</h3>
              <p>Get priority access to our top-performing startups, participate in private demo days next wave of innovative businesses. </p>
              <button class="cta-button">Join Us</button>
            </div>
        </div>
    </div>

</div>