<div class="section7" id="for-investors">
    <div class="heading">
        <h2>For investors</h2>
        <p>We don't want good ideas to die. Rather, we want to make them great. Therefore, we focus on getting startups funded, and kickstart their GTM strategy, gain initial traction, and generate early revenue.</p>
    </div>
    
    <div class="what-we-do">
        <div class="funding-card">
            <h3>Quality & Quantity</h3>
            <p>Access to High-Quality, Pre-Vetted Startups
                Find startups that have undergone rigorous screening and honing, so they are investment-ready.</p>
        </div>
        <div class="engage-card">
            <h3>Early-Stage Investment Opportunities</h3>
            <p>Engage with startups with potential for high returns at their growth phase, and make tier success yours as they scale.</p>
        </div>
    </div>
        <div class="what-we-do">
            <div class="funding-card1">
                <h3>Collaborative Growth</h3>
                <p>Partner with a team of experienced entrepreneurs and experts to help guide and accelerate the startups' success, minimize risk, maximize potential.</p>
            </div>
            <div class="engage-card1">
                <h3>Diversification and Network Expansion</h3>
                <p>Invest in a diverse range of industries and sectors. Expand your network by connecting with other top-tier investors and entrepreneurs.</p>
            </div>

        </div>
</div>